/*********************************************
*
                    Rotating Text
*
**********************************************/
.rw-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  height: auto;
  width: 100%;
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.rw-sentence{
	margin: 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: white;
	white-space: nowrap;
  font-size: 200%;
  text-align: center;
}
.typewrite span{
	text-indent: 10px;
  color: #A6CE39;
	position: relative;
  font-size: 200%;
	width: 100%;
	opacity: 0;
	overflow: hidden;
}
